*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to bottom , rgb(5, 188, 244) ,rgb(7, 243, 196));
    display: flex;
    align-items: start;
    justify-content: center;
}



.container{
    background-color: transparent;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 10%;
}

.select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.5);
    width: 400px;
    height: 50px;
    padding: 0 10px;
    border-radius: 10px;
    font-weight: 500;
    font-family: sans-serif;
}

.select i{
    cursor: pointer;
    font-size: 1.3rem;
    transition: all 0.4s;
}

.select i:hover{
    border: 1px solid rgb(52, 224, 251);
    padding: 0 2px;
}

.options{
    border-radius: 10px;
    width: 400px;
    display: none;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    transition: all 0.4s;
}

.opt1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:start;
    gap: 20px;
    width: 100%;
    height: 50px;
    padding: 0 10px;
}
.opt1:hover{
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;
    cursor: pointer;
}

.opt1 i{
    font-size: 1.3rem;
}
.opt1:nth-child(1) i{
    color: #3C5B95;
    background-color: white;
    border-radius: 50px;
}
.opt1:nth-child(2) i{
    color: white;
    background:linear-gradient(to top right , yellow , orange , red,rgb(252, 79, 107));
    border-radius: 3px ;
}
.opt1:nth-child(3) i{
    color: red;
    background:white;
    border-radius: 50px ;
}
.opt1:nth-child(4) i{

    color:rgb(0, 179, 198);
    border-radius: 50px ;
}
.opt1:nth-child(5) i{
    background-color: green;
    color:white;
    border-radius: 50px ;
}
.opt1:nth-child(6) i{
    background-color: white;
    color:red;
    border-radius: 50px ;
}



p{
    font-size: 20px;
}
