*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right,#444847);
}

.container{
    display: flex;
    gap: 2rem;
}

.btn{
    position: relative;
    height: 100px;
    width: 300px;
}


.btn::before{
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      height: 20px;
      width: 50px;
      background-color: red;
      border-radius: 10px;
      transition: all 0.5s;
}

.btn:hover::before{
    bottom: 0;
    height: 50%;
    width: 90%;
    border-radius: 30px;
    transition-delay: 0.1s;
}


.btn::after{
      content: "";
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      height: 20px;
      width: 50px;
      background-color: red;
      border-radius: 10px;
      transition: all 0.5s;
      z-index: -1;
}

.btn:hover::after{
    top: 0;
    height: 50%;
    width: 90%;
    border-radius: 30px;
    transition-delay: 0.1s;
}


.btn a{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    letter-spacing: 1px;
    transition: all 0.5s;
    overflow: hidden;

}

.btn:hover a{
    letter-spacing: 3px;
}

.btn a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: linear-gradient(to left, rgba(255,255,255,0.15) , transparent) ;
    transform: skewX(45deg) translateX(0);
    transition: all 0.5s;
}

.btn:hover a::before{
     transform: skewX(45deg) translateX(200%);
}


.btn:nth-child(1)::before,
.btn:nth-child(1)::after{
    background: #ff1f71;
    box-shadow: 0 0 5px #ff1f71, 0 0 10px #ff1f71 , 0 0 30px #ff1f71 , 0 0 60px #ff1f71 , 0 0 80px ;
}
.btn:nth-child(2)::before,
.btn:nth-child(2)::after{
    background: #2bd2ff;
    box-shadow: 0 0 5px #2bd2ff, 0 0 10px #2bd2ff , 0 0 30px #2bd2ff , 0 0 60px #2bd2ff , 0 0 80px ;
}
.btn:nth-child(3)::before,
.btn:nth-child(3)::after{
    background: #1eff45;
    box-shadow: 0 0 5px #1eff45, 0 0 10px #1eff45 , 0 0 30px #1eff45 , 0 0 60px #1eff45 , 0 0 80px ;
}