*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    height: 100vh;
   background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    padding: 2rem 5rem;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    font-size: 2rem;
    background-color: gray;
    position: absolute;
   transition:all 0.3s
}

a::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    background-color: azure;
    top: 0;
    left: 0;
    z-index: -1;
    transition:all 0.6s;
    
}

a::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    background-color: azure;
    top: 0;
    left: 0;
    z-index: -1;
    transition:all 0.6s;
    transition-delay: 0.1s;
}

a:hover:before , a:hover:after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0 ;
}

a:hover{
    transform: translateY(-3px);
 
}


