*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.home{
    height: 100vh;
    width: 100vw;
    background-color: rgb(15, 15, 158);
    display: flex;
    align-items: center;
    justify-content: center;
}

.outerbox{
  
    display: flex;
    gap: 1rem;
}

.box1 , .box2 , .box3 , .box4{

    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 100%;
    animation: myAnimation 0.8s ease infinite ;
    
}


.box1{
   animation-delay: 0.3s;
}
.box2{
    animation-delay: 0.4s;
}
.box3{
   animation-delay: 0.5s;
}

@keyframes myAnimation {
  0% {height: 30px; 
       width: 30px;}
  50% {height: 20px;
         width: 20px;}
}