*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('royce-fonseca-i78k3_Mq29s-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.container1{
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;    
}

.container2{
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;    
}

.txt1{
    font-size: 30px;
    font-weight: bold;
    color: yellow;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.txt2{
    font-size: 30px;
    font-weight: bold;
    color: rgb(147, 227, 225);
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

textarea{
    width: 80%;
    height: 20%;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid white
}



.toast{
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.timebar{
    width: 100%;
    height: 5px;
    background: linear-gradient(to right , violet , yellow , orange);
    border-radius: 10px;
    animation: bar 2s ease-in-out;
}

.hoverText{
    font-size: 15px;
    font-weight: bold;
    width: 70%;
    height: 100px;
    color: greenyellow;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: hvrtxt 1s ease-in-out;
    z-index: 999;
    display: none;
    
}

@keyframes hvrtxt {
    0%{
        opacity: 1;
        scale: 1;
        left: 50%;
        top:55%
    }
    100%{
        opacity: 0;
        scale: 0;
        left: 120%;
        top: 55%;
    }
}

@keyframes bar {
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}