*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.container{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 2rem;
     padding: 1rem;
     color: whitesmoke;

}
h1{
    font-size: 3rem;
}

p{
   font-size: 1.5rem;
   text-align: center;
}

button{

    padding: 0.7rem;
    background: transparent;
    border: 2px solid white;
    color: white;
}

.cursor{
    height: 20px;
    width: 20px;
    background-color: rgb(30, 212, 219,0.7);
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(-50% , -50%);
    border-radius: 50px;
}