*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    padding: 2rem 5rem;
    background-color: purple;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    position: relative;
}

a::before{
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: transparent;
    top: -15px;
    left: -15px;
    border-left: 5px solid purple;
    border-top:5px solid purple ;
    transition: all 0.8s;
}


a::after{
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    right: -15px;
    bottom: -15px;
    border-right: 5px solid purple;
    border-bottom:5px solid purple ;
    transition: all 0.8s;
}


a:hover:before , a:hover:after{
    height: 100%;
    width: 100%;
}
