*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container{
    position: relative;
    height: 60vh;
    width: 30vw;
    background-color: white;
    padding: 2rem;
    overflow: hidden;
   
}

.card-container:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(-100% + 5px);
    background-color: blueviolet;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: 1s;
}

.card-container:hover:before{
    bottom:0 ;
}

.card{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: space-around;
   height: 100%;
   z-index: 2;
   transition: 1s;
}

.card h1{
    font-size: 4rem;
    font-family: sans-serif;
}

.card p{
    font-size: large;
    line-height: 1.5rem;
}
.card button{
    background-color: black;
    color:white;
    padding: 1rem 2rem;
}

.card-container:hover .card{
    color: white;
}