*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding: 4rem;
    
}

.emoji{
   
    font-size:10rem;
    box-shadow: inset;
    box-shadow:0 0 10px rgba(0 , 0 , 0 , 0.5);
    
}

