*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    width: 300px;
    height: 60px;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.2s;
    position: relative;
    color: white;
}

a::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: aquamarine;
    top: -3px;
    left: -3px;
    z-index: -1;
    transition: all 0.2s;
    transform-origin: top;
}

a::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: yellow;
    top: 3px;
    left: 3px;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all 0.2s;
    transform-origin: bottom;
}

a:hover:before{
    top: -6px;
    left: 0;
    transform: perspective(1000px) rotateX(79deg);
}

a:hover:after{
    top: 6px;
    left: 0 ;
    transform: perspective(1000px) rotateX(79deg);
}

a:hover{
    color: black;
}