*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body , html {
    background: black;
}


.outer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1rem;

}

.box{
    height: 200px;
    width: 600px;
    background-color: brown;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    padding: 1rem;
}

p{
  
    font-size: large;
    font-weight:bold;
    color:white;
}


/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(yellow,red,indigo,violet, blue , green); /* very faint */
  border-radius: 10px;
  
}
