*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: blueviolet;
    color: white;
}

button{

    padding: 15px;
    border: 2px solid white; 
    cursor: pointer;
    transition: all 0.4s;
    background:transparent;
    color: white;
}

button:hover{
    background: white;
    color: black;
}
button:active{
    scale: 0.8;
}
