*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    height: 200vh;
    color: white;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 20rem;
    height: 50vh;
}

h1{
    font-size: 4rem;
}

/* made the arrow by my self , it is not an icon  */

/* this part makes the outer circle. */
.arrow{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50px;
    position: relative;
    animation: bounce 1.5s ease-in-out infinite;
}

/* this part makes a L then rotate it -45deg it becomes an arrow */
.arrow::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    
}

/* custom class made for the toggle fnc */
.fade-out{
    scale: 20;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.8s ease-in-out;
}

@keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}