*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 100%;
}


li{
   list-style: none;
   background-color: white;
   width: 50%;
   border: 1px solid;
   margin-bottom: 10px;
   padding: 10px;
}

label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: dodgerblue;
    padding: 10px;
    cursor: pointer;
}

span{
    transform: rotate(90deg);
    font-size: 22px;
    font-weight:bolder;
}



#accordion li input[type="radio"] {
    display: none;
}


#accordion .content{
    height: 0;
    overflow: hidden;
    transition: all 0.8s;
}

/* + means the next element , not the child element */
#accordion li input[type="radio"]:checked + .content{
    height: 100px;
    color: red;
}