*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    
}

.container1{
    height: 100%;
    width: 100%;
    background-image:url('urban-vintage-78A265wPiO4-unsplash.jpg');
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 170px;
    gap: 70px;
    position: relative;
}

h1{
    font-size: 4rem;
    color:whitesmoke;
    font-family: sans-serif;
    font-weight: 900;
}

p{
    text-align: center;
    font-size: 1.5rem;
    color: whitesmoke;
}

button{
    padding: 10px 20px;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(250, 41, 76);
    border-radius:10px
}

.container2{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.forum{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    height: 50%;
    width: 20%;
    position: relative;
}

input{
    padding: 5px;
    width: 100%;
}

span{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 700;
    color: red;
    border: 1px solid black;
    padding: 2px 5px
}

.btn{
    padding: 5px 10px;
    font-size: 1rem;
    color: white;
    background-color: rgb(250, 41, 76);
    margin-top: 20px;
    border-color: white;
}