*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 2rem 5rem;
    font-size: 2rem;
    position: relative;
    background-color: green;
    z-index: 3;
}

a::before{
    content: "PAGE1";
    background-color: red;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0%;
    left:0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
}

a::after{
    content: "PAGE2";
    position: absolute;
    background-color: aqua;
    height: 100%;
    width: 100%;
    top: 0%;
    left:0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
    transition-delay: 0.25s;
}

a:hover:before , a:hover:after{
    transform: rotateX(0);
}

