*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: rgb(66, 6, 6);
    display: flex;
    align-items: center;
    justify-content: center;
}


.imgcontainer{  
    height: 50vh;
    width: 80vh;
    background-color: aqua;
    position: relative;
    display: flex;
}

img{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    transition: all 0.8s;
}

.insidecontainer{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contentbg{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

img:hover{
    transform: translateY(-20%);
}
