*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(240, 196, 130);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    width: 300px;

}

input{
    border: none;
    background-color: white;
    outline: none;
    padding: 10px;
    width: 250px;
    
}

img{
    width: 20px;
    cursor: pointer;
}

.open{
        display: none;
}