*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #be37c5, #3949c5);
}

.container{
    padding: 40px;
    background: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px
}

.bar{
    width: 600px;
    height: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.progress{
    width: 0%;
    height: 10px;
    background: rgb(228, 36, 36);
    border-radius: 5px;
    transition: all 0.8s ease;
}

.step1 , .step2 , .step3 , .step4,.step5{
    width: 40px;
    height: 40px;
    background: whitesmoke;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    position: absolute;
    border: 2px solid rgb(228, 36, 36);
}

.step1{   top: -15px;
    left: -10px;}

.step2{   top: -15px;
    left: 24%;}

.step3{   top: -15px;
    left: 49%;}

.step4{   top: -15px;
    left: 74%;}

.step5{   top: -15px;
    left: 99%;}

button{
    padding: 10px 20px;
    background: #3949c5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:active{
    background-color: whitesmoke;
    scale: 1.1;
    transition: all 0.4s ease;
}