*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.nav{
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    
}

.nav div{
    padding: 1rem 2rem;
    position: relative;
    background-color: transparent;
}


.home:before,
.about:before,
.services:before,
.portfolio:before,
.contact:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    top: 9px;
    right: 9px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transition: all 0.8s;
    opacity: 0;
}

.home:after,
.about:after,
.services:after,
.portfolio:after,
.contact:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    bottom: 9px;
    left: 9px;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    transition: all 0.8s;
    opacity: 0;
}

.home:hover:before,
.about:hover:before,
.services:hover:before,
.portfolio:hover:before,
.contact:hover:before {
    opacity: 1;
    top: -3px;
    right: -3px;
}

.home:hover:after,
.about:hover:after,
.services:hover:after,
.portfolio:hover:after,
.contact:hover:after {
    opacity: 1;
    bottom: -3px;
    left: -3px;
}

/* Previous projects helped me a lot to make this one , and to think better ....Hope you can also figure it out */