*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{

    height: 30rem;
    width: 30rem;
    background-color: aqua;
    position: relative;
    overflow: hidden;
}

.container img{
    height: 100%;
    width: 100%;
    transition: all 1s;
   
}

.content{
    position: absolute;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transform: translateX(-100%);
    transition: all 1s;
}

.container:hover .content{
    transform: translateX(0%);
}

.container:hover img{
    transform: translateX(100%);
}